*, ::before, ::after {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    color: var(--text-color);
}

:root {
    --text-color: #FFFFFF;
    --primary-button-bg: linear-gradient(91.24deg, #FFFFFF -151.39%, #CF088C 39.72%, #CF088C 60.99%, #CF088C 80.28%, #FFFFFF 231.81%);
    --bg-gradient: linear-gradient(225deg, rgba(212, 8, 140, 0.7) 14.64%, rgba(204, 8, 140, 0.7) 17.47%, rgba(133, 7, 138, 0.7) 47.17%, rgba(89, 6, 137, 0.7) 68.39%, rgba(72, 6, 137, 0.7) 79%);
    --secondary-bg-gradient: linear-gradient(161.42deg, #6EE8FC 5.47%, #6AE2FB 21.27%, #5ED1F7 42.01%, #4BB5F1 65.72%, #308EE8 91.39%, #267FE5 100.28%);
    --section-content-size: 80%;
    --section-content-marginTop: 6.8rem;
    --section-marginTop: 8rem;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background: -webkit-linear-gradient(134.41deg, rgba(3, 9, 29, 0.95) 13.47%, #121F57 55.81%, #03091D 90.93%);
    background: -moz-linear-gradient(134.41deg, rgba(3, 9, 29, 0.95) 13.47%, #121F57 55.81%, #03091D 90.93%);
    background: -ms-linear-gradient(134.41deg, rgba(3, 9, 29, 0.95) 13.47%, #121F57 55.81%, #03091D 90.93%);
    background: -o-linear-gradient(134.41deg, rgba(3, 9, 29, 0.95) 13.47%, #121F57 55.81%, #03091D 90.93%);
    background: linear-gradient(134.41deg, rgba(3, 9, 29, 0.95) 13.47%, #121F57 55.81%, #03091D 90.93%);
    background: linear-gradient(134.41deg, rgba(3, 9, 29, 0.95) 13.47%, #121F57 55.81%, #03091D 90.93%);

    width: 100vw;
    height: 6823px;
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primary-button {
    background: var(--primary-button-bg);
    padding: 10px 24px;
    border-radius: 3rem;
}

.subtitle {
    font-weight: 400;
    font-size: 18px;
    opacity: 0.8;
    margin-top: 1rem;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

.navbar {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.navbar-contact {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.navbar-contact-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: start;
    align-items: center;
}

.navbar-contact-item .navbar-contact-item-item:first-child {
    margin-right: 50px;
}

.navbar-contact-item-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: start;
    align-items: center;
}

.navbar-contact-item-item > span {
    margin-left: 10px;
}

#help-icon {
    position: relative;
    width: 24px;
    height: 24px;
    border: var(--text-color) solid 1.5px;
    border-radius: 100%;
}

#help-icon::before {
    content: "?";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.navbar-navbar {
    background: rgba(255, 255, 255, 0.1);
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    margin-top: 15px;
    height: 80px;
    font-size: 18px;
    padding: 17px 25px;
}

.navbar-navbar-title {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-family: 'aldrich';
    font-size: 22px;
}

.navbar-navbar-title > span {
    margin-left: 15px;
}

.navbar-navbar-links {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.navbar-navbar-links-link {
    margin-right: 31px;
    cursor: pointer;
}

.navbar-navbar-links-link:last-child {
    margin-right: 0px;
}

.navbar-navbar-actionBtns {
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.navbar-navbar-actionBtns-actionBtn {
    margin-left: 20px;
}

.navbar-navbar-actionBtns-actionBtn:last-child {
    margin-left: 20px;
}

.header-content {
    width: 80%;
    margin-top: 3.4rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(8 auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.header-content-banner {
    grid-column: 2/3;
    grid-row: 1/9;

    margin-left: auto;
}

.header-content-title {
    grid-column: 1/2;
    grid-row: 3/4;

    margin-top: auto;
}

.header-content-subtitle {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 1.9rem 0;
    line-height: 32px;
}

.header-content-buttons {
    grid-column: 1/2;
    grid-row: 5/6;
}

.header-content-buttons-btn {
    padding: 10px 24px;
    border-radius: 3rem;
}

.header-content-buttons-btn:first-child {
    background: #CF088C;
    border: none;
}

.header-content-buttons-btn:last-child {
    margin-left: 15px;
    border: #FFFFFF solid 1px;
}

.header-content-soloCircle {
    grid-column: 1/2;
    grid-row: 8/9;
    margin-left: auto;
    margin-right: 30%;
    margin-bottom: -15%;
}

.research {
    margin-top: var(--section-marginTop);
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 35%);
    grid-column-gap: 10%;
    grid-template-rows: 40px auto auto 40px;
    justify-items: start;
    align-items: center;
    justify-content: center;
}

.research-title {
    grid-column: 1/2;
    grid-row: 2/3;

    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.research-subtitle {
    grid-column: 1/2;
    grid-row: 3/4;

    margin-top: .6rem;
    line-height: 26px;
}

.research-input {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: .3rem;
    width: 100%;
    display: flex;
    background: #FFFFFF;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: 3rem;
    --text-color: black;
}

.research-input input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    margin-left: 1rem;
}

.research-input select {
    outline: none;
    border: none;
    font-size: 16px;
}

.research-input select option {
    padding: .5rem .3rem;
}

.research-input a {
    margin-left: .5rem;
    --text-color: #FFFFFF;
}

.research-list {
    grid-column: 2/3;
    grid-row: 3/4;

    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.research-list li {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.research-list li span:first-child {
    font-size: 18px;
    line-height: 22px;
    opacity: 0.9;
    font-weight: 400;
}

.research-list li span:last-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.6;
}

.joinUs {
    margin-top: var(--section-marginTop);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.joinUs-list {
    width: var(--section-content-size);
    margin-top: var(--section-content-marginTop);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.joinUs-list-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.joinUs-list-item-icon {
    display: block;
    position: relative;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background: linear-gradient(225deg, rgba(212, 8, 140, 0.8) 14.64%, rgba(204, 8, 140, 0.8) 17.47%, rgba(133, 7, 138, 0.8) 47.17%, rgba(89, 6, 137, 0.8) 68.39%, rgba(72, 6, 137, 0.8) 79%) rgba(204, 8, 140, 0.8);
}

.joinUs-list-item-icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.joinUs-list-item-subtitle {
    font-size: 18px;
    line-height: 32px;
    opacity: 0.6;
}

.pricingPlans {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    margin-top: var(--section-marginTop);
}

.pricingPlans-selector {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 4rem;
    border-radius: 4rem;
    padding: 5px;
    background: white;
    z-index: 1;
}

.pricingPlans-selector-button-shape {
    border: none;
    border-radius: 4rem;
    width: 120px;
}

.pricingPlans-selector-button-bg {
    z-index: 2;
    height: 80%;
    position: absolute;
    display: block;
    background: var(--primary-button-bg);
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    transition: left 300ms ease-in-out;
}

.yearly .pricingPlans-selector-button-bg {
    left: 74%;
}

.pricingPlans-selector-button {
    text-align: center;
    padding: 0.5rem 0;
    background-color: transparent;
    z-index: 3;
    transition: color 300ms 150ms ease-in-out;
}

.pricingPlans-selector-button-monthly {
    color: white;
}

.yearly .pricingPlans-selector-button-monthly {
    color: black;
}

.pricingPlans-selector-button-yearly {
    color: black;
}

.yearly .pricingPlans-selector-button-yearly {
    color: white;
}

.pricingPlans-plansContainer {
    --transition-easeing: cubic-bezier(0.63, 0.62, 0.24, 0.98);
    position: relative;
    width: var(--section-content-size);
    margin-top: var(--section-content-marginTop);
}

.pricingPlans-plans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.pricingPlans-plans-card {
    --special-color: #D4088C;
    --card-background: transparent;
    --card-border: 0.5px solid rgba(255, 255, 255, 0.4);

    background: var(--card-background);
    width: 28%;
    height: 100%;
    display: grid;
    border: var(--card-border);
    border-radius: 2rem;
    padding: 2.8rem 1.5rem;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(5, auto);
}

.pricingPlans-plans-card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    opacity: 0.6;
    margin-bottom: 1.8rem;

    grid-column: 1/3;
    grid-row: 1/2;
}

.pricingPlans-plans-card-price {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    grid-column: 1/2;
    grid-row: 2/3;
}

.pricingPlans-plans-card-price span {
    font-weight: 600;
    font-size: 40px;
    line-height: 46px;
}

.pricingPlans-plans-card-priceAdvantage {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 1rem;

    grid-column: 2/3;
    grid-row: 2/3;
}

.pricingPlans-plans-card-priceAdvantage > div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    opacity: 0.7;
}

.pricingPlans-plans-card-priceAdvantage > div:before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.pricingPlans-plans-card-priceAdvantage > div > span {
    font-weight: 600;
    font-size: 16px;
    margin-left: 3px;
}

.pricingPlans-plans-card-priceAdvantage > span {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: var(--special-color);
}

.pricingPlans-plans-card-decsription {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    opacity: 0.9;
    margin-top: 1.3rem;

    grid-column: 1/3;
    grid-row: 3/4;
}

.pricingPlans-plans-card-advantage {
    margin-top: 2rem;

    grid-column: 1/3;
    grid-row: 4/5;
}

.pricingPlans-plans-card-advantage li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pricingPlans-plans-card-advantage li:not(:last-child) {
    margin-bottom: 1.55rem;
}

.pricingPlans-plans-card-advantage span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-left: 0.8rem;
    opacity: 0.9;
}

.pricingPlans-plans-card-btn {
    margin: 0px auto;
    background: var(--bg-gradient);
    margin-top: 3rem;
    border-radius: 3rem;
    grid-column: 1/3;
    grid-row: 5/6;
    padding: 1.5rem;
    width: 80%;
    text-align: center;
    font-weight: 500;
    font-size: 18px;

    grid-column: 1/3;
    grid-row: 5/6;
}

#princingPlans-monthly {
    transform: translateX(0%);
    opacity: 1;
    transition: 300ms;
    transition-timing-function: var(--transition-easeing);
}

.yearly #princingPlans-monthly {
    transform: translateX(20%);
    opacity: 0;
}

#princingPlans-yearly {
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateX(-20%);
    opacity: 0;
    transition: 300ms;
    transition-timing-function: var(--transition-easeing);
}

.yearly #princingPlans-yearly {
    transform: translateX(0%);
    opacity: 1;
}

.whyUs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: var(--section-marginTop);
    text-align: center;
}

.whyUs-arguments {
    width: var(--section-content-size);
    margin-top: var(--section-content-marginTop);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.whyUs-arguments-argument {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    text-align: left;
    padding: 2.5rem 1.5rem;
    width: 30%;
    background: var(--bg-gradient);
    border-radius: 1rem;
}

.whyUs-arguments-argument svg {
    position: absolute;
    top: -5%;
    left: 15%;
    transform: translate(-50%, -50%);
    padding: 1.05rem;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: linear-gradient(161.42deg, rgba(110, 232, 252, 0.7) 5.47%, rgba(106, 226, 251, 0.7) 21.27%, rgba(94, 209, 247, 0.7) 42.01%, rgba(75, 181, 241, 0.7) 65.72%, rgba(48, 142, 232, 0.7) 91.39%, rgba(38, 127, 229, 0.7) 100.28%);
}

.whyUs-arguments-argument h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
}

.whyUs-arguments-argument p {
    margin-top: 0.8rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.migration {
    margin-top: var(--section-marginTop);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.migration-content {
    width: var(--section-content-size);
    margin-top: var(--section-content-marginTop);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.migration-content > div {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.migration-content > div > h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
}

.migration-content > div > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.9;
    margin-top: 0.8rem;
}

.migration-content > div > a {
    --primary-button-bg: var(--bg-gradient);
    margin-top: 2rem;
}

.clientOpinion {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: var(--section-marginTop);
}

.clientOpinion-content {
    width: var(--section-content-size);
    margin-top: var(--section-content-marginTop);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.clientOpinion-content-arrow {
    width: 30px;
    height: 30px;
    transition: transform 300ms cubic-bezier(0, 0.89, 0.5, 2.24);
}

.clientOpinion-content-arrow:hover {
    transform: scale(1.2);
}

.clientOpinion-content-opinion {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 0px 2rem;
}

.clientOpinion-content-opinion-card {
    display: flex;
    height: 100%;
    width: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.clientOpinion-content-opinion-card-comment {
    padding: 2rem 1rem;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(207, 8, 140, 0.25);
    border-radius: 1.5rem;
    text-align: justify;
    font-size: 16px;
    line-height: 22px;
    height: 100px;
    overflow: hidden;
    box-sizing: content-box;
}

.clientOpinion-content-opinion-card-arrow {
    transform: translateY(1px);
    margin-top: 1rem;
}

.clientOpinion-content-opinion-card-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    opacity: 0.7;
    margin: 1rem 0px;
}

.addons {
    margin-top: var(--section-marginTop);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.addons-content {
    margin-top: var(--section-content-marginTop);
    width: var(--section-content-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.addons-content-card {
    background: var(--bg-gradient);
    position: relative;
    width: 30%;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.addons-content-card-title {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
}

.addons-content-card-description {
    margin-top: 1rem;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.addons-content-card-price {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.addons-content-card a {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 55%;
    padding: 1rem 0rem;
    background: var(--secondary-bg-gradient);
    border-radius: 2rem;
    transform: translate(-50%, -50%);
    text-align: center;
}

.getWebsiteLive {
    margin-top: var(--section-marginTop);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.getWebsiteLive-content {
    width: var(--section-content-size);
    margin-top: var(--section-content-marginTop);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.getWebsiteLive-content-startPrice {
    margin-top: 5rem;
    margin-bottom: 1.4rem;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
}

#subscribeNewsLetter {
    grid-row: 2/4;
}